.register {
  .ant-form-item {
    margin-bottom: 28px;
  }

  .ant-btn {
    .wave-motion-appear-active {
      color: #ffff;
    }
  }
}

.ant-picker .ant-picker-input,
.ant-picker.ant-picker-range {
  display: flex;
  flex-direction: row-reverse;
}
.ant-picker .ant-picker-input span.ant-picker-suffix,
.ant-picker.ant-picker-range span.ant-picker-suffix {
  margin-left: 0;
  margin-right: 15px;
}

.ant-picker .ant-picker-status-error {
  background: '#F2F2F2';
}
