.list-member {
  &::-webkit-scrollbar {
    width: 3px;
    border-radius: 20px;
    display: none;
  }
  &::-webkit-scrollbar-track {
    background-color: #ffffff33;
  }
  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
    border-radius: 50px;
  }
  &:hover {
    &::-webkit-scrollbar {
      width: 3px;
      border-radius: 20px;
      display: block;
    }
  }
}

.switch {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 20px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background: #000;
  border-radius: 100rem;
  transition: background-color 0.25s linear;
}

.switch:after {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 40px;
  background-color: #fff;
  top: 3.4px;
  left: 5px;
  transition: background-color 0.25s linear, transform 0.25s linear;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch {
  background-color: #6a5af9;
}

.switch-input:checked + .switch:after {
  transform: translateX(26px);
  background-color: white;
}
.ant-modal-content {
  padding: 0 !important;
}
