.wave-motion-appear-active {
  color: transparent;
}

.ant-picker .ant-picker-input,
.ant-picker.ant-picker-range {
  display: flex;
  flex-direction: row-reverse;
}
.ant-picker .ant-picker-input span.ant-picker-suffix,
.ant-picker.ant-picker-range span.ant-picker-suffix {
  margin-left: 0;
  margin-right: 15px;
}

.ant-picker {
  color: white;
  .ant-picker-status-error {
    height: 48px;
  }
}
.ant-picker-clear {
  border-radius: 50%;
}

.ant-picker-input {
  #basic_date_of_birth {
    color: white;
  }
}

.btn-hover:hover {
  background-color: #8001ff !important;
}
