.login {
  .ant-form-item {
    margin-bottom: 28px;
  }
  .social-button {
    .wave-motion-appear-active {
      color: #ffff;
    }
  }
}

.adjust_button_hover_drawer.ant-btn:hover {
  border-color: white !important;
}
