.ant-image {
  width: 100%;
  height: 200px;
}

.ant-image-preview-operations {
  background-color: black;
}

.ant-image-preview-close {
  background-color: black;
}

.ant-image-preview-close:hover {
  background-color: #252e38;
}

.ant-image-mask-info {
}
